<h1>会員情報編集</h1>

 <%= form_with model:@customer,url:public_customer_path(@customer), local:true do |f| %>

      <div class="form-group">
       <label for="last_name">名前</label></br>
       <%= f.text_field :last_name %>
      </div>

      <div class="form-group">
       <label for="first_name"></label></br>
       <%= f.text_field :first_name %>
      </div>

      <div class="form-group">
       <%= f.submit 'Update Book' %>
      </div>
     <% end %>