// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form dl dt{
  width: 200px;
  float:left;
  clear:both;
}

.button{
height:30px;
width:100px;
}

