// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
  height: 300px;
  width: 100%;
  background-image: image-url('top.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height:75px;
  color: #ffffff;
  
}

.new-item{
  height: 600px;
  width: 100%;
}





.about{
    width: 100%;
    text-align: center;
}
