// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  margin-top: 15px;
}
.text-green{
  color: #008000;
}

.text-gray{
  color: #c0c0c0;
}

.name{
  color: #000000;
  text-decoration: underline;
}


.flex{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.flex-item{
  margin: 10px;

}

.pagination {
  justify-content: center;
}

