<h2>商品新規登録</h2>
<!-- form_with部分 -->
<%= form_with model: @item, url:'/admin/items', local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>商品名</h4>
　<input type="text" value="" placeholder="商品名" >
  <h4>商品説明</h4>
　<textarea placeholder="表示させたいテキストを記述" cols="50" rows="10" ></textarea>
  <h4>ジャンル</h4>
  <h4>税抜価格</h4>
  <input type="text" value="" placeholder="1000" >円
　<h4>販売ステータス</h4>
  <%= f.submit '新規登録' %>
<% end %>