<h1>注文履歴詳細</h1>


      <h5>購入者<%= @order_detail.created_at.strftime('%Y/%m/%d') %></h5>

      <h5>
        配送先
        <% @order.each do |order| %>
    <tr>
      <td><%= order.postal_code %>
      <%= order.address %>
      <%= order.name %></td>
  			  <% end %>
        <%#=@order_detail.postal_code %>
        <%#= @order_detail.address %></br>
        <%#= @order_detail.name %>
      </h5>

      <h5>支払方法 <%#= @orderdetail.payment_method %></h5>


  <h6>注文内容</h6>
 <table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>小計</th>


    </tr>
   </thead>


</table>