// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-green{
  color: #008000;
}

.text-gray{
  color: #c0c0c0;
}

.name{
  color: #000000;
  text-decoration: underline;
}


.flex{
  display: flex;
  flex-wrap: wrap;
}

.pagination {
  justify-content: center;
}
